<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Add Genre</title>
</head>
<body>
    <header>
        <div class="header-left">
            <h1>DW-<span>Game Center</span></h1>
        </div>
        <div class="header-right">
        </div>
    </header>

    <div class="main add">
    <form action="/createGenre" method="post">
        <input name="gameGenreAdd" type="text" placeholder="Romance">
        <input type="submit" value="Tambahkan">
    </form>
    <a href="/" class="cancel">Kembali</a>
    </div>
</body>
</html>