<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Add Stock</title>
</head>
<body>
    <header>
        <div class="header-left">
            <h1>DW-<span>Game Center</span></h1>
        </div>
        <div class="header-right">
        </div>
    </header>

    <div class="main add">
    <form action="/createStock" method="post">
        <input name="gamePrice" type="text" placeholder="10000">
        <select name="gameId" id="">
            <option value="0">--Pilih--</option>
            <% game.forEach((gem) => { %>
            <option value="<%= gem.id %>"><%= gem.title %></option>
            <% }) %>
        </select>
        <input name="gameStock" type="text" placeholder="10">
        <input type="submit" value="Tambahkan">
    </form>
    <a href="/" class="cancel">Kembali</a>
    </div>
</body>
</html>